			html {
				background-color: white;
				width:100%			
				}
			body {
				width: 500px;
				margin: auto;
				padding: 24px;
				background-color: white;
				color: rgb (0,0,32);
				font-family: "Georgia", serif;
				}
			h1,h2,h3,h4,h5,h6 {
				color: rgb (0,0,64);
				font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				}
			header > h1 {font-weight: 100}
			p {
				font-family: "Georgia", serif;
				line-height: 140%;
				}
			article > p {text-align: justify;}
			footer {
				margin: 72px auto 72px auto;
				padding: 72px auto;
				border-top: thin solid gray;
				font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				font-size: smaller;
				color:black;
				text-transform: uppercase;
				}
			.small-caps,.sc {
				font-size: smaller;
				text-transform: uppercase;
			}
			.italic,.ital {font-style: italic;}
